/*--------
Font
----------*/
@font-face {
  font-family: "Inter";
  src: url("../assets/font/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter Medium";
  src: url("../assets/font/Inter-Medium.ttf");
}

/*--------
Global
----------*/

html {
  --color1: black;
  --color2: white;
  --color3: red;
  color: black;
  background-color: #FDFDFD;
  overflow-x: hidden;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: slashed-zero;
  cursor: crosshair;
  font-family: "Inter", serif;
  hyphens: auto;
  -webkit-hyphenate-character: '-';
  letter-spacing: -0.04rem;
  margin-left: 3%;
  margin-right: 3%;
}

::selection {
  color: black;
  background: var(--color3);
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

body {
  margin: calc(7vh + 3%) 0 0 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*--------
Header
----------*/
nav {
  position: fixed;
  background-color: white;
  top: 0;
  left: calc(3% - 2px);
  width: calc(94% + 4px);
  height: 7vh;
  z-index: 10000 !important;
  border-bottom: 1px solid black;
  font-size: calc(12px + (35 - 20) * ((100vw - 576px) / (2560 - 576)));
  transition: height 0.4s;
}

.nav-extend{
  height: 100vh;
}

.header {
  height: 100%;
  align-content: start;
  margin: 3.5vh 0;
}

.index-btn {
  grid-column: 1;
  text-align: left;
  margin-bottom: 2%;
}

.cool-btn {
  grid-column: 2;
  text-align: center;
}

.cool-btn:hover span {
  display: none
}

.cool-btn:hover:before {
  content: "😳🕶️🤏"
}

.font-btn {
  grid-column: 2;
  text-align: center;
}

.font-btn:hover span {
  display: none
}

.font-btn:hover:before {
  content: "😎"
}

.about-btn {
  grid-column: 3;
  text-align: right;
}

.about-contacts > div > p{
  margin: 16px 0 0 0;
}

.about-contacts > div > ul > li{
  transition: opacity 0.4s;
}

.about-contacts > div > ul:hover > li{
  opacity: 0.4;
}

.about-contacts > div > ul:hover > li:hover{
  opacity: 1;
}

/*--------
Selectors
----------*/
.selectors {
  margin-top: 5vh;
  display: flex;
}

.selectors-dim{
  opacity: 0.4 !important;
}

.selectors-licence {
  margin-left: 5%;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-right: 20px;
  font-family: "Inter Medium", serif;
}


/*--------
Font Grid
----------*/
.font-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-top: 1px solid black;
border-left: 1px solid black;

}

.block {
  padding: 10%;
  aspect-ratio: 4/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.block:hover {
  background-color: var(--color3);
}

.font-name {
  grid-row: 1;
  grid-column: 1 / span 2;
  text-align: center;
  place-self: center;
  align-self: start;
  font-family: "Inter Medium", serif;
}

.font-text {
  grid-row: 2;
  grid-column: 1 / span 2;
  text-align: center;
  place-self: center;
  font-size: calc(20px + (45 - 20) * ((100vw - 576px) / (2560 - 576)));
}


.font-category {
  grid-row: 3;
  grid-column: 1;
  text-align: left;
  align-self: end;
  font-family: "Inter Medium", serif;
}

.font-licence {
  grid-row: 3;
  grid-column: 2;
  text-align: right;
  align-self: end;
  font-family: "Inter Medium", serif;
}

.selectors-category > button {
  opacity: 1;
  transition: opacity 0.4s;
}

.selectors-category:hover > button{
  opacity: 0.4;
}

.selectors-category:hover > button:hover{
  opacity: 1 !important;
}

/*--------
Content
----------*/
.content {
  height: calc(83vh - 1px);
  width: 100%;
  place-items: center;
  top: 0;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: var(--color1);
  background-color: var(--color2);
  border: 1px solid black;
}


/*--------------------
Prev and Next buttons
--------------------*/

.swiper-button-prev, .swiper-button-next{
  opacity: 1;
  min-width: 50%;
  min-height: 100%;
  top: 0% !important;
  margin-top: 0 !important;
  font-size: 32px;
  margin: 32px;
  background-color: transparent !important;
  user-select: none;
}

.swiper-button-prev{
  left: 0 !important;
  cursor: w-resize !important;
  justify-content: start !important;
  align-items: center !important;
}

.swiper-button-next{
  justify-content: end;
  right: 0 !important;
  cursor: e-resize !important;
  justify-content: end !important;
  align-items: center !important;
}

/*----------
Swiper style
----------*/

.swiper-wrapper{
  align-items: flex-end;
}

.swiper-slide{
  font-size: 96px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:after, .swiper-button-prev:after{
  content: "" !important;
}

/*----------------------------------
BW, random, switch, download buttons
----------------------------------*/

.inv{
  color: var(--color2) !important;
  background-color: var(--color1);
  transition: color 0.4s;
  transition: background-color 0.4s;
}

.right{
  color: var(--color1) !important;
  background-color: var(--color2);
  transition: color 0.4s;
  transition: background-color 0.4s;
}

.buttons{
  position: absolute;
  z-index: 10000;
  bottom: 32px;
  left: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 120px;
  margin-top: 16px;
  grid-column-gap: 8px;
}

.buttons > button{
  font-size: 28px;
  line-height: 28px;
  user-select: none;
  border: 1px solid;
  width: auto;
  white-space: nowrap;
  background-color: var(--color2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons:hover > button{
  opacity: 0.4;
  transition: opacity 0.4s;
}

.buttons:hover > button:hover{
  opacity: 1;
  cursor: pointer;
}

.rand-btn{
  background-color: var(--color2) !important;
  border: 1px solid var(--color1) !important;
}

.bw-btn{
  border-right-color: black !important;
  border-bottom-color: black !important;
  border-top-color: white !important;
  border-left-color: white !important;
  background: linear-gradient(135deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%);
}

.rand-btn, .swap-btn, .bw-btn{
  height: 48px;
  aspect-ratio: 1;
  border-radius: 100%;
  color: var(--color1);
  margin: 0 !important;
}

.download-btn{
  user-select: none;
  color: var(--color1);
  background-color: var(--color2);
  position: absolute;
  z-index: 10000;
  bottom: 32px;
  right: 32px;
  border: 1px solid black;
  border-radius: 100px;
  height: 48px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s;
  font-size: 20px;
  line-height: 20px;
}

.download-btn:hover{
  cursor: pointer;
  transform: rotate(-135deg);
}
